* {
    font-family: 'Microsoft YaHei';
}
html {
    background: #687075;
}
body {
    height: 1386px;
    width: 980px;
    margin: 0 auto;
    background: #FFFFFF;
}
p {
    font-size: 12px;
    color: #231815;
    font-family: 'Microsoft YaHei';
    line-height: 16px;
    opacity: 0.7;
    margin: 7px 0px;
}
.clear {
    clear: both;
}
.main {
    margin: 0 auto;
    width: 892px;
}
.header {
    height: 61px;    
}
#headbg {
    display: inline-block;
    height: 100%;
    width: 110px;
    background: #d45d5c;
}
#headerUrl {
    font-family: SimHei;
    font-size: 12px;
    font-style: normal;
    margin: 44px 0px 0px 5px;
    color: #FFFFFF;
    display: inline-block;
}
#date {
    float: right;
    font-family: SimHei;
    font-size: 12px;
    font-style: normal;
    color: #d45d5c;
    display: inline-block;
    margin: 44px 0px 0px 0px;
}
.splitLine {
    width: 100%;
    height: 2px;
    background: #938e8c;
}
.a2 {
    margin-top: 35px;
}
.a2_left {
    width: 641px;
    float: left;
}
.main_img {
    width: 100%;
    height: 301px;
    position: relative;
}
#green_img {
    position: absolute;
    background: #428c59;
    opacity: 0.5;
    left: 0px;
    top: 0px;
    height: 301px;
    width: 191px;
}
#red_img {
    position: absolute;
    background: #cc7680;
    opacity: 0.5;
    right: 0px;
    top: 0px;
    height: 301px;
    width: 191px;
}
.main_img img {
    width: 100%;
    height: 100%;
}
.article {
    margin-top:55px;
}
.article_1{
    width: 228px;
    float: left;
}
.article_1 h2{
    margin: 0px;
    color: #418c59;
    text-decoration: underline;  
    font-size: 16px;
}
.article_2{
    width: 203px;
    float: left;
    margin-left: 30px;
}
.article_2 h2{
    margin: 0px;
    color: #d5a05b;
    text-decoration: underline;  
    font-size: 16px;
}
.article_3{
    width: 152px;
    float: left;
    margin-left: 20px;
}
.article_3 h2{
    margin: 0px;
    color: #cc7680;
    text-decoration: underline;  
    font-size: 16px;
}
#p_3 {
    line-height: 20px;
}
.article_3 ul {
    padding: 0px;
    margin: 25px 0px 0px 0px;
}
.article_3 ul li {
    margin: 4px 0px;
    list-style: none;
    font-size: 12px;
}
.article_3 ul i {
    color: #cd4a48;
    opacity: 0.7;
}
.a2_right {
    width: 203px;
    float: right;
}
#redLine {
    width: 100%;
    height: 2px;
    background: #cc8091;
    display: inline-block;
}
.subTitle {
    font-size: 18px;
    color: #000000;
    margin: 16px 0px;
    font-weight: 400;
}
.subTitle i{
    font-size: 24px;
    font-style: normal;
}
.subTitle + span {
    height: 1.5px;
    color: #000000;
}